<h1>Edit Ad Post</h1>

<div class="row">
  <div class="col-md-4">
    <p>Rules for posting ads</p>
    <ul>
      <li>Make sure you keep your caps lock under control.</li>
      <li>Don't act like you are som get rich kid.</li>
      <li>Keep it short, no one wants a text block.</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for [@sponsoredpost.topic, @sponsoredpost] do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter your title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter ad body" %>
      </div>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
